<?xml version="1.0" encoding="utf-8"?>
<openerp>
  <data>

    <menuitem id="menu_action_ui_widget_type" name="Виджеты"
              parent="base.next_id_2"
              action="action_suvit_ui_widget_type"
              sequence="3"/>

    <menuitem id="menu_action_ui_widget_type_tree" name="🌲 Виджетов"
              parent="base.next_id_2"
              action="suvit_node_widget_type_tree_action"
              sequence="4"/>

    <menuitem id="menu_ui_widget_base" name="Справочник виджетов"
              parent="base.next_id_2"
              sequence="1000"/>

      <menuitem id="menu_ui_widget_group"
              name="Группы виджетов"
              action="action_odoo_suvit_web_ui_widget_group"
              parent="menu_ui_widget_base"
              sequence="100"/>

      <menuitem id="menu_ui_widget"
              name="Виджеты"
              action="action_odoo_suvit_web_ui_widget"
              parent="menu_ui_widget_base"
              sequence="101"/>

      <menuitem id="menu_ui_widget_features_group"
              name="Группы свойств виджетов"
              action="action_odoo_suvit_web_ui_widget_features_group"
              parent="menu_ui_widget_base"
              sequence="102"/>

      <menuitem id="menu_ui_widget_features"
              name="Свойства виджетов"
              action="action_odoo_suvit_web_ui_widget_feature"
              parent="menu_ui_widget_base"
              sequence="103"/>

  </data>
</openerp>
